<!-- RD Navbar Nav-->
<ul class="rd-navbar-nav">
    <li><a href="{{path('home')}}">Accueil</a></li>
    <li><a href="{{path('home_services')}}">Services</a></li>
    <!--
    <li><a href="services.html">Services</a>
        <ul class="rd-navbar-dropdown">
            <li><a href="single-service.html">Single service</a></li>
        </ul>
    </li>
    -->
    <li><a href="{{path('tutoriels_home')}}">Portfolio</a></li>
    <li><a href="{{path('home_confidentialite')}}">Confidentialite</a></li>
    <!--
    <li><a href="#">Pages</a>
        <ul class="rd-navbar-megamenu">
            <li>
                <h5 class="rd-megamenu-header">Pages 1</h5>
                <ul class="rd-megamenu-list">
                    <li><a href="promos.html">Promos</a></li>
                    <li><a href="pricing-tables.html">Pricing Tables</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="cart-page.html">Cart page</a></li>
                </ul>
            </li>
            <li>
                <h5 class="rd-megamenu-header">Pages 2</h5>
                <ul class="rd-megamenu-list">
                    <li><a href="404-page.html">404 page</a></li>
                    <li><a href="503-page.html">503 page</a></li>
                    <li><a href="coming-soon.html">Coming soon</a></li>
                    <li><a href="maintenance.html">Maintenance</a></li>
                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                    <li><a href="search-results.html">Search results</a></li>
                </ul>
            </li>
            <li>
                <h5 class="rd-megamenu-header">Elements</h5>
                <ul class="rd-megamenu-list">
                    <li><a href="buttons.html">Buttons</a></li>
                    <li><a href="forms.html">Forms</a></li>
                    <li><a href="grid-system.html">Grid system</a></li>
                    <li><a href="progress-bars.html">Progress bars</a></li>
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                    <li><a href="typography.html">Typography</a></li>
                </ul>
            </li>
        </ul>
    </li>
    -->
    <li><a href="{{path('home_contact')}}">contact</a></li>
</ul>
