{{ form_start(form) }}

<div class="row">
    <div class="col-12">
        {{ form_row(form.titre) }}
    </div>
    <div class="col-12">
        {{ form_row(form.besoinsClient) }}
    </div>
    
    <div class="col-12">
        <button class="btn btn-info btn-block btn-sm">{{ button_label|default('Save') }}</button>
    </div>
</div>
    
{{ form_end(form) }}
