<!DOCTYPE html>
<html class="wide wow-animation">
    <head>
        <meta charset="UTF-8">
        <title>Expace Development - {% block title %}{% endblock %}</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,700%7CLato:300,400,700">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/style.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body id="resultat">
        <div >
        <header class="section page-header">
                <!-- RD Navbar-->
                <div class="rd-navbar-wrap">
                    <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="74px" data-lg-stick-up-offset="66px" data-md-stick-up="true" data-lg-stick-up="true"> 
                        <div class="rd-navbar-outer">
                            <div class="rd-navbar-inner">
                                <!-- RD Navbar Panel-->
                                <div class="rd-navbar-panel">
                                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                                        <span></span>
                                    </button>
                                    <!-- RD Navbar Brand-->
                                    <div class="rd-navbar-brand">
                                            <div class="brand__name">
                                                <img class="brand__logo-dark" src="/images/logo-default-130x42.png" alt="" width="130" height="42"/>
                                            </div>
                                    </div>
                                </div>
                                <div class="rd-navbar-body">
                                    <!-- RD Navbar Aside-->
                                    <div class="rd-navbar-aside">
                                        <div class="rd-navbar-content-outer">
                                            <div class="rd-navbar-content__toggle rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-content">
                                                <span></span>
                                            </div>
                                            <div class="rd-navbar-content">
                                                <ul class="list-bordered list-inline">
                                                    <li>
                                                        <dl class="list-terms-inline">
                                                            <dt>Téléphone</dt>
                                                            <dd><a href="tel:#">07 54 53 55 58</a></dd>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <dl class="list-terms-inline">
                                                            <dt>E-mail</dt>
                                                            <dd><a href="mailto:contact@expace-development.fr">contact@expace-development.fr</a></dd>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <ul class="list-inline list-inline-xs">
                                                            <li><a target="_blank" class="icon icon-gray-dark icon-style-brand fa fa-facebook" href="https://www.facebook.com/Expace-Development-361044720669404/"></a></li>
                                                            <li><a target="_blank" class="icon icon-gray-dark icon-style-brand fa fa-twitter" href="https://twitter.com/ExpaceDevelop"></a></li>
                                                            <li><a target="_blank" class="icon icon-gray-dark icon-style-brand fa fa-git" href="https://github.com/expace-dev"></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {% if app.user %}
                                            <div class="rd-navbar-panel__button">
                                                <a class="button button-xs button-icon button-icon-left button-default button-ujarak" href="{{ path('app_logout') }}">
                                                    <span class="icon mdi mdi-account"></span>
                                                    Déconnection
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="rd-navbar-panel__button">
                                                <a class="button button-xs button-icon button-icon-left button-default button-ujarak" href="{{ path('app_login') }}">
                                                    <span class="icon mdi mdi-account"></span>
                                                    Se connecter
                                                </a>
                                            </div>
                                        {% endif %}
                                        
                                    </div>
                                    <!-- RD Navbar Nav Wrap-->
                                    <div class="rd-navbar-nav-wrap">
                                        <div class="rd-navbar-element">
                                        </div>
                                    {% include "partials/navigation.html.twig" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
        </header>

        {% block body %}{% endblock %}

            <!-- Page Footer-->
            <footer class="section footer-classic">
                <div class="footer-classic__main bg-black-1">
                    <div class="container">
                        <div class="row row-50 align-items-sm-end justify-content-sm-center justify-content-lg-start">
                            <div class="col-lg-6">
                                <div class="footer-classic__custom-column d-xl-inline-flex">
                                    <div class="unit d-xl-inline-flex justify-content-center justify-content-lg-start">
                                        <div class="unit__left">
                                            <span class="icon icon-md icon-default linearicons-headset text-primary"></span>
                                        </div>
                                        <div class="unit__body">
                                            <a class="link link-lg" href="tel:0754535558">07 53 53 55 58</a>
                                            <p>Contactez notre service commercial</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-6">
                                <div class="group-md">
                                    <h3>Souscrire</h3>
                                    <p class="large">Recevez les dernières offres et mises à jour</p>
                                </div>
                                <!-- RD Mailform-->
                                <form class="rd-mailform form_inline form_lg" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                                    <div class="form-wrap">
                                        <input class="form-input" id="subscribe-form-footer-form-email" type="email" name="email" data-constraints="@Email @Required">
                                        <label class="form-label" for="subscribe-form-footer-form-email">Votre E-mail</label>
                                    </div>
                                    <div class="form-button">
                                        <button class="button button-lg button-primary button-ujarak" type="submit">Inscription</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row row-50 justify-content-md-center justify-content-lg-start justify-content-xl-between">
                            <div class="col-md-5 col-lg-3">
                                <p class="custom-heading-1 custom-heading-bordered">La société</p>
                                <div class="divider"></div>
                                <p class="ls-05">Notre entreprise développe des applications Web et wordpress fiables et de haute qualité pour les besoins des entreprises depuis 2005.</p>
                            </div>
                            <div class="col-md-5 col-lg-4 col-xl-3">
                                <p class="custom-heading-1 custom-heading-bordered">Dernières news</p>
                                <div class="divider"></div>
                                    <div class="post-small-wrap">
                                        {% for dernierArticle in derniersArticles %}
                                            
                                        
                                        <!-- Post small-->
                                        <article class="post-small">
                                            <div class="post-small__aside">
                                                <a class="post-small__media" href="blog-post.html">
                                                    <img class="post-small__image" src="{{ dernierArticle.featuredImage }}" alt="" width="80" height="68"/>
                                                </a>
                                            </div>
                                            <div class="post-small__main">
                                                <p class="post-small__title"><a href="{{ path('tutoriels_article', { 'slug': dernierArticle.slug}) }}">{{ dernierArticle.titre }}</a></p>
                                                <time class="post-small__time" datetime="2018">January 12, 2018</time>
                                            </div>
                                        </article>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-5 col-xl-4"> 
                                    <p class="custom-heading-1 custom-heading-bordered">Liens utiles</p>
                                    <div class="divider"></div>
                                    <div class="row row-5">
                                        <div class="col-sm-12">
                                            <ul class="list-marked list-marked_primary">
                                                <li><a href="/">Accueil</a></li>
                                                <li><a href="{{ path('home_services') }}">Nos services</a></li>
                                                <li><a href="{{ path('tutoriels_home') }}">Notre portfolio</a></li>
                                                <li><a href="{{ path('home_contact') }}">Nous contacter</a></li>
                                                <li><a href="{{ path('app_login') }}">Espace client</a></li>
                                                <li><a href="{{ path('home_confidentialite') }}">Politique de confidentialité</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-default__aside bg-gray-5">
                        <div class="container">
                            <div class="footer-default__aside-inner">
                                <!-- Rights-->
                                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Expace Development</span><span>.&nbsp;</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <!-- Javascript-->
        <script src="/js/core.min.js"></script>
        <script src="/js/script.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
